{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block content %}

<div class="starter-template">

    <p>{% blocktrans %}Hello, {% endblocktrans %} {{ user.username }}!
    {% blocktrans %}Welcome to your dashboard!{% endblocktrans %}</p>

    <h3>Your fleet</h3>

    {% if blimps %}

      <ul class="list-group">
      {% for blimp in blimps %}
        {% if not blimp.ready %}
        <div class="alert alert-success" role="alert">
          Thanks for ordering!
          We'll send you an e-mail as soon as your blimp is ready.</div>
        {% endif %}
        <li class="list-group-item">{{ blimp.domain }}
          <ul class="nav-pills pull-right list-unstyled">
            {% if blimp.ready %}
            <li>
              <a class="btn btn-xs btn-success"
                 href="{{ blimp.url }}" target="_newtab">
                launch
              </a>
            </li>
            {% else %}
            <li>
              <span class="btn btn-xs btn-warning disabled">not ready</span>
            </li>
            {% endif %}
            <li>
              <a class="btn btn-xs btn-danger"
                 href="{% url 'blimps:delete_blimp' blimp.id %}">
                delete
              </a>
            </li>
          </ul>
        </li>
        <p></p>
      {% endfor %}
      </ul>

    {% else %}

      <p>
        {% blocktrans %}
        <i>No vessels yet. Would you like to order one now?</i>
        {% endblocktrans %}
      </p>

      <p>
        <a class="btn btn-lg btn-success"
           href="{% url 'blimps:order_blimp' %}">
          Order a blimp!
        </a>
      </p>

    {% endif %}

      {% if user.is_staff %}
      <h3>All blimps</h3>
      <p>
        See all the blimps requested so far and their status
        <a href="{% url 'blimps:blimp_list' %}">here</a>.
      </p>
      {% endif %}

</div>

{% endblock %}

{% block manual-js %}
<script src="http://localhost:8001/socket.io/socket.io.js"></script>
<script>
 // TODO: when testing done, put in separate file
 $(document).ready(function(){
   var socket = io.connect('localhost', {port: 8001});

   socket.on('connect', function(){
     console.log("connect");
   });

   socket.on('message', function(message) {
     console.log(message);
   });
 });
</script>
{% endblock %}
