{% extends "duralumin/dj-base.html" %}
{% load i18n %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block content %}

<div class="starter-template">

    <p>{% blocktrans %}Hello, {% endblocktrans %} {{ user.username }}!
    {% blocktrans %}Welcome to your dashboard!{% endblocktrans %}</p>

    <h4>Your fleet</h4>

    {% if blimps %}

      <ul>
      {% for blimp in blimps %}
        <li>{{ blimp.subdomain }} <a href="{% url 'delete_blimp' blimp.id %}">delete</a></li>
      {% endfor %}
      </ul>

    {% else %}

      <p>{% blocktrans %}<i>No vessels yet. Would you like to order one now?</i>{% endblocktrans %}</p>

      <p><a class="btn btn-lg btn-success" href="{% url 'order_blimp' %}">Order a blimp!</a></p>

    {% endif %}

</div>

{% endblock %}
