{% extends "duralumin/dj-base.html" %}
{% load i18n %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block content %}

<div class="starter-template">

    <p>{% blocktrans %}Hello, {% endblocktrans %} {{ user.username }}!
    {% blocktrans %}Welcome to your dashboard!{% endblocktrans %}</p>

    <h4>Your fleet</h4>

    {% if blimps %}

      <ul class="list-group">
      {% for blimp in blimps %}
        <li class="list-group-item">{{ blimp.subdomain }}
          <ul class="nav-pills pull-right list-unstyled">
            <li>
              <a class="btn btn-xs btn-success" href="{{ blimp.url }}" target="_newtab">launch</a>
            </li>
            <li>
              <a class="btn btn-xs btn-danger" href="{% url 'delete_blimp' blimp.id %}">delete</a>
            </li>
          </ul>
        </li>
        <p></p>
      {% endfor %}
      </ul>

    {% else %}

      <p>{% blocktrans %}<i>No vessels yet. Would you like to order one now?</i>{% endblocktrans %}</p>

      <p><a class="btn btn-lg btn-success" href="{% url 'order_blimp' %}">Order a blimp!</a></p>

    {% endif %}

</div>

{% endblock %}
