{% extends "duralumin/dj-base.html" %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block full-content %}

<div class="jumbotron">
  <h1>Welcome, captain!</h1>
  <p class="lead">Become the captain of your data.</p>
  <p><a class="btn btn-lg btn-success" href="{% url 'registration_register' %}">Get started!</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Web access</h4>
    <p>Access your e-mail and files online, the way you're used to.</p>

    <h4>Decentralised</h4>
    <p>{% blocktrans %}Host your own data in a small plug-and-play server.
    Nobody, except you has the access to your data.{% endblocktrans %}</p>
  </div>
</div>

{% endblock %}
