{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'blimps:admin_blimp_list' %}">blimps</a> - {{blimp.domain}}</h2>

<ul>
    <li class="list-group-item">
        domain - <a href="{{ blimp.url }}" target="_newtab">
        {{ blimp.domain }}</a>
    </li>

    {% if blimp.signature %}
    <li class="list-group-item">
        <a class="btn btn-xs btn-success"
           href="{{ blimp.signature.url }}">signature</a>
    </li>
    {% endif %}

    {% if blimp.ready %}
    <li class="list-group-item">
        <a class="btn btn-xs btn-danger"
           href="{% url 'blimps:deactivate_blimp' blimp.id %}">
            deactivate
        </a>
    </li>
    {% else %}
    <li class="list-group-item">
        <a class="btn btn-xs btn-warning"
           href="{% url 'blimps:activate_blimp' blimp.id %}">
            activate
        </a>
    </li>
    {% endif %}
</ul>



{% endblock %}
