{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'blimps:admin_blimp_list' %}">blimps</a> - {{blimp.domain}}</h2>

<ul>
    <li class="list-group-item">
        domain - <a href="{{ blimp.url }}" target="_newtab">
        {{ blimp.domain }}</a>
    </li>
    <li class="list-group-item">
        owner - {{ blimp.owner }}</a>
    </li>

    {% if blimp.signature %}
    <li class="list-group-item">
        <a class="btn btn-xs btn-success"
           href="{{ blimp.signature.url }}">signature</a>
    </li>
    {% endif %}

    {% if blimp.cert_req %}
    <li class="list-group-item">
        Certificate request:
        <pre>{{blimp.cert_req}}</pre>
    </li>
    {% endif %}

    {% if blimp.cert_req %}
    <li class="list-group-item">
        Certificate:
        <pre>{{blimp.cert}}</pre>
    </li>
    {% endif %}

</ul>



{% endblock %}
